.DS_Store
node_modules
.jshintignore
.jshintrc
mocha-report.xml
v2-test-report.xml
npm-debug.log
dist/
coverage/
test/**/*.test.png
selenium-debug.log
test/e2e/reports
test/browserstack-key.js
build.log
.nyc_output
dev/public/
